body {
    background-image: url('images/car-Recovered.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    color: white;
    font-family: 'Arial', sans-serif;
}